In [1]:
import arcpy
import pandas as pd

In [2]:
fc = r"C:\Users\tim10393\OneDrive - Esri\Courses\PYTS-8.0\Student\PYTS_8.0_Aug22_StudentData\PYTS\Data\CountyData.gdb\ParcelPts" # Replace with the path to your data
fields = ["Street_Name", "Zip", "Phone_Number", "PriceSquFt"] # replace with the names of your fields
outputCsv = r"C:\Users\tim10393\OneDrive - Esri\Courses\PYTS-8.0\Student\PYTS_8.0_Aug22_StudentData\PYTS\Data\outCSV.csv" # location of output csv file, include the file name and extension

This data represents fake identities. Don't worry ;)

In [3]:
src = arcpy.da.SearchCursor(fc, fields)

# Making a counter so only 5 records are printed, not all of them!
i = 0
for row in src:
    if i<5:
        print(row)
    i += 1

('Hawkins Road', 28356, '990-272-1227', 107.0)
('Scott Place Lane', 28356, '990-797-2565', 96.0)
('Lukes Run', 28356, '990-206-7743', 88.0)
('Ramsey Street', 28356, '990-222-7943', 110.0)
('Burnett Road', 28356, '990-248-1427', 86.0)

A pandas dataframe is a versitile class for slicing, dicing, and querying your data. While arcpy cursors are irreplaceable for reading and writing data using ArcGIS data management strategies (domains, subtypes, attributes rules), the dataframe is more user friendly for sifting through your data. 

You can create a pandas dataframe from your search cursor. But first, we need to reset our search cursor since we have already iterated over it. If we were to not include this line of code (<code>src.reset()</code>), we would create an empty dataframe.

In [4]:
src.reset()
df = pd.DataFrame(data=src, columns=fields)
df.head(5)

        Street_Name    Zip  Phone_Number  PriceSquFt
0      Hawkins Road  28356  990-272-1227       107.0
1  Scott Place Lane  28356  990-797-2565        96.0
2         Lukes Run  28356  990-206-7743        88.0
3     Ramsey Street  28356  990-222-7943       110.0
4      Burnett Road  28356  990-248-1427        86.0

The dataframe in pandas has several methods, including methods for saving as a csv file, and other formats.

In [5]:
df.to_csv(outputCsv)